<%= form_for @pony do |f| %>

  <% if pony.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pony.errors.count, "error") %> prohibited this pony from being saved:</h2>

      <ul>
      <% pony.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-5">
      <div class="row">
        <div class="small-2 columns">
          <%= f.label :name, class: "text-right middle" %>
        </div>
        <div class="small-10 columns">
          <%= f.text_field :name %>
        </div>
      </div>
    </div>

    <div class="small-5">
      <div class="row">
        <div class="small-2 columns">
          <%= f.label :profession, class: "text-right middle" %>
        </div>
        <div class="small-10 columns">
          <%= f.text_area :profession %>
        </div>
      </div>
    </div>

    <div class="small-5">
      <div class="row">
        <div class="small-2 columns">
        </div>
        <div class="small-10 columns">
          <%= f.submit :class => "button primary hollow" %>
          <%= link_to 'Cancel', ponies_path, :class => "button alert" %>
        </div>
      </div>
    </div>
  </div>

<% end %>
